.course {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(36, 228, 36);
  font-size: 35px;
  transition: transform 2s;
  font-weight: 600;
  letter-spacing: 2px;
}

.img {
  height: 150px;
  /* width: 100%; */
  transition: 1s all ease-in-out;
}

.img:hover {
  transform: scale(1.1);
}

.card-title {
  font-weight: 700;
  background: -webkit-linear-gradient(rgb(238, 19, 209), rgb(20, 1, 36));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.enroll {
  border: none;
  background-image: linear-gradient(
    to right,
    #070429,
    #080757,
    #2c198f,
    #4c28a0,
    #b613cc
  );
  color: whitesmoke;
  font-family: "Segoe UI Symbol";
  padding: 8px 16px;
  border-radius: 8px;
}

.enroll:hover {
  background-image: linear-gradient(white);
}
